doctype html
html
  head
    meta(charset='UTF-8')
    style
      include ./style.pug
  body
    table.body
      tr
        td
          table.container
            tr
              td.header.brand
                img(src='${url}/logo.png', alt='Logo')
            tr
              td.content
                h1 Bonjour, #{firstName} !
                p Vous avez demandé une réinitialisation de votre mot de passe. Veuillez cliquer sur le bouton ci-dessous pour réinitialiser votre mot de passe :
                table.button
                  tr
                    td
                      a(href='${url}') Réinitialiser votre mot de passe
                p Ce lien est valide pendant 10 minutes. Si vous n’avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet e-mail.
                p L’équipe Ecommerce.

